* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.fundo {
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    justify-content: center;
    text-align: center;
    display: flex
}

.calculadora {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 30px;

}

.botao {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 4px;
    padding: 4px;

}

.botao:hover {
    background-color: black;
}

#resultado {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    width: 250px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    text-align: right;
    padding: 5px;
}

#quero {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    background: #d72880;
}

#quero:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.botao:hover {
    background-color: inherit;
}

.botao:active {
    background-color: #ffef78;
}